{%extends "home.html"%}
{%block content%}
<div class="divContainer">
        <nav class="barraLateral">
            <img class="logoJtechBL" src="{{ url_for('static', filename='imagens/J.Tech Logo Branco.svg') }}"  alt="Logo Jornada Tech Branco">
        <div class="div-redonda">
            <img src="{{ url_for('static', filename='imagens/perfil.jpg') }}" alt="Foto de Perfil">
            <h2 class="h4" style="text-align: center; color: white; padding-top: 24px;">Gerente Carlos</h2>
        </div>
        <div class="movebutton">
        <button class="buttonMenu" onclick="window.location.href='visualizarfatura'">Clientes</button>
        <button class="buttonMenu" onclick="window.location.href='listacartao'">Cartões</button>
        <button class="selectedButtonMenu" onclick="window.location.href='cadastracompras'">Compras</button>
        <button class="buttonMenu" onclick="window.location.href='relatoriodegastos'">Relatórios</button>
        </div>
        </nav>
</div>
{%endblock%}