{%extends "home.html"%}
{%block content%}
    <div class="divContainer">
            <h1 style="text-align: center;">Cadastrar Cartão de Crédito</h1>
            <form method="post">
                <div class="mb-3">
                    <label for="exampleInputNome" class="form-label">Nome</label>
                    <input type="text" class="form-control" name="txtNome" id="exampleInputNome" aria-describedby="nameHelp">
                    <div id="nameHelp" class="form-text">Informe o nome do cliente</div>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">R$</span>
                    <input type="text" class="form-control" name= "txtLimite" aria-label="Valor do limite do cliente">
                    <span class="input-group-text">.00</span>
                  </div>
                <div>
                    <button class="btn btn-primary" type="submit">Cadastrar</button>
                    <button class="btn btn-danger" type="reset">Cancelar</button>
                </div>
            </form>
    </div>
{%endblock%}