<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cssGeral.css') }}">
    <script type="text/javascript" type="text/css" src="{{ url_for('static', filename='menu.js') }}">
</head>
<body>
    <div id="menu">
    </div>
     <div class="div1">
         <h1 class="h1" style="text-align: center;">Inicio</h1>
     </div>div>
</body>
</html>
