<div class="divContainer">
    <nav class="barraLateral">
        <img class="logoJtechBL" src="{{ url_for('static', filename='imagens/J.Tech Logo Branco.svg') }}"  alt="Logo Jornada Tech Branco">
    <div class="div-redonda">
        <img src="{{ url_for('static', filename='imagens/perfil.jpg') }}" alt="Foto de Perfil">
        <h2 class="h4" style="text-align: center; color: white; padding-top: 24px;">Gerente Carlos</h2>
    </div>
    <div class="movebutton">
    <button class="buttonMenu" id = "itemmenudashbooardhome" onclick="window.location.href='dashboardhome'">Inicio</button>
    <button class="buttonMenu" id = "itemmenuvisualizarfatura" onclick="window.location.href='visualizarfatura'">Clientes</button>
    <button class="selectedButtonMenu" id = "itemmenulistacartao" onclick="window.location.href='listacartao'">Cartões</button>
    <button class="buttonMenu" id = "itemmenucadastrarcompras" onclick="window.location.href='cadastracompras'">Compras</button>
    <button class="buttonMenu" id = "itemmenurelatoriogastos" onclick="window.location.href='relatoriodegastos'">Relatórios</button>
    </div>
</nav>
    <div class="div1">
        <h1 class="h1" style="text-align: center;">Olá!</h1>
    </div>
</div>